*.pyc
*.log
/twse/download_a/*
/twse/download_b/*
/twse/download_c/*
/twse/download_d/*
/twse/download0/*
/twse/download1/*
/twse/download2/*
/twse/download3/*
/twse/download4/*
/twse/download5/*
/gt/download_c/*
/gt/download_d/*
/gt/download0/*
/gt/download1/*
/gt/download2/*
/gt/download3/*
/gt/download4/*
/gt/download5/*
